<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Welcome to Lime</title>
<link rel="stylesheet" href="/static/css/style.css" type="text/css" media="all"/>
</head>
<body>
<div id="main-container">
	<header> <img src="/static/images/logo.png" alt="Stability Link Logo" class="logo"/> <a href="index.html" class="home"></a>
		<nav>
			<ul>
				<li><a href="">System Admin</a>
					<ul class="system-admin">
						<li><a href="">Sysyem Admin Sublink - 1</a></li>
						<li><a href="">Sysyem Admin Sublink - 2</a></li>
						<li><a href="">Sysyem Admin Sublink - 3</a></li>
					</ul>
				</li>
				<li><a href="">Static Data</a>
					<ul class="static-data">
						<li><a href="">Static Data Sublink - 1</a></li>
						<li><a href="">Static Data Sublink - 2</a></li>
						<li><a href="">Static Data Sublink - 3</a></li>
					</ul>
				</li>
				<li><a href="">Transaction</a>
					<ul class="transaction">
						<li><a href="">Transaction Sublink - 1</a></li>
						<li><a href="">Transaction Sublink - 2</a></li>
						<li><a href="">Transaction Sublink - 3</a></li>
					</ul>
				</li>
			</ul>
		</nav>
		<div class="pull-right setting"> <span>Setting</span>
			<div class="setting-links"> <a href="#slide" class="link-animation profile slide_open">Profile</a> <a href="" class="link-animation logout">Logout</a> </div>
			<div id="slide" class="popup-visible-off"> <a class="slide_close btn-close">X</a> <span>Edit Profile</span>
				<hr/>
				<div class="full-width uploaded-pic"><img src="/static/images/bill-gates.png" width="100" height="100"  alt="Name"/></div>
				<input type="file"/>
				<br/>
				<input type="submit" name="Submit" value="Submit" class="btn1"/>
			</div>
		</div>
	</header>
	<div id="content-area" class="homepage">
		<h1>Lims Cloud Project</h1>
	</div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
<script src="/static/js/jquery.popupoverlay.js"></script> 
<script src="/static/js/custom.js"></script> 
<script>
$(document).ready(function () {
    $('#slide').popup({
        focusdelay: 500,
        outline: true,
        vertical: 'top'
    });
  
});
</script>
</body>
</html>
